/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* UTILS */

.container {
  width: 1400px;
  margin: 0 auto;

  /* debug */
  background-color: antiquewhite;
}

ul {
  list-style: none;
}

/* HEADER */

header {
  background-color: #ff6900;
  height: 100px;
  color: white;
  font-size: 1.3rem;

  position: sticky;
  top: 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100px;
}

header li {
  display: inline;
}

header a {
  text-decoration: none;
  color: white;
  margin: 0 5px;
  font-weight: 600;
}

header a:hover {
  text-decoration: underline;
}

.header-logo img {
  height: 50px;
}

.header-icons ul {
  display: flex;
  gap: 10px;
}

.header-icons:hover,
.header-logo img:hover {
  cursor: pointer;
}

/* MAIN */
.main-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 80px;
}

.card {
  width: calc(100% / 3 - 20px);
  padding-bottom: 100px;

  /* debug */
  /* height: 800px; */
  background-color: white;
  position: relative;
}

main div img {
  width: 100%;
}

.etichetta {
  display: flex;
  gap: 5px;
  color: white;
  font-weight: bold;

  position: absolute;
  bottom: 150px;
}

.sales,
.sostenibility {
  display: inline-block;
  background-color: red;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  /* line-height: 1rem; */
}

.sostenibility {
  background-color: green;
}

.heart {
  background-color: white;
  font-size: 1.5rem;
  padding: 20px;
  position: absolute;
  top: 10px;
  right: 0;
}

.heart:active {
  color: red;
}
