/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* UTILS */

.container {
  width: 1750px;
  margin: 0 auto;

  /* debug */
  /* background-color: antiquewhite; */
}

ul {
  list-style: none;
}

/* HEADER */

header {
  background-color: #ff6900;
  height: 90px;
  color: white;
  font-size: 1.3rem;

  position: sticky;
  top: 0;
  z-index: 2;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 90px;
}

header li {
  display: inline;
}

header a {
  text-decoration: none;
  color: white;
  margin: 0 5px;
  font-weight: 600;
}

header a:hover {
  text-decoration: underline;
}

.header-logo img {
  height: 40px;
}

.header-icons ul {
  display: flex;
  gap: 10px;
}

.header-icons:hover,
.header-logo img:hover {
  cursor: pointer;
}

/* MAIN */
.main-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 80px;
}

.card {
  width: calc(100% / 3 - 20px);
  padding-bottom: 100px;

  /* debug */
  /* height: 800px; */
  background-color: white;
  position: relative;
}

main div img {
  width: 100%;
}

main .img-hover {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
}

main .card:hover .img-hover {
  display: inline-block;
}

.etichetta {
  display: flex;
  gap: 5px;
  color: white;
  font-weight: bold;

  position: absolute;
  bottom: 150px;
}

.sales,
.sostenibility {
  display: inline-block;
  background-color: red;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  /* line-height: 1rem; */
}

.sostenibility {
  background-color: green;
}

.heart {
  background-color: white;
  font-size: 1.5rem;
  padding: 20px;
  position: absolute;
  top: 10px;
  right: 0;
  z-index: 1;
}

.heart:hover {
  color: red;
}

.heart:active {
  color: gold;
}

/* CARD DESCRIPTION */
.card-description {
  position: absolute;
}

.price {
  font-size: 0.9rem;
  color: black;
  text-decoration: line-through;
}

.discounted-price {
  color: red;
  font-weight: bolder;
  margin-right: 5px;
  display: inline-block;
}

/* FOOTER */

footer {
  margin-top: 80px;
  color: white;
  background-color: #1a1a1a;
  font-size: 1.1rem;
  border-bottom: 3px solid white;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}

footer ul {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.footer-icons i {
  background-color: white;
  color: #1a1a1a;
  font-size: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 5px;
  text-align: center;
  line-height: 1.5rem;
  vertical-align: middle;
}
